#btn1{
    display: block;
    width: fit-content;
    margin: 0 auto;
}

#btn1:hover{
    background-color: red;
    color: white;
}

#btn1:active{
    background-color: rgb(245, 148, 188);
    color: rgb(255, 0, 0);
}